:root {
    --bg-color: black;
    --text-color: white;
}
[data-theme = 'light'] {
     --bg-color: white;
    --text-color: black;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}